<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rdp.template.repository.RequestLogMapper">
  <resultMap id="BaseResultMap" type="com.rdp.template.domain.RequestLog">
    <id column="Seq" jdbcType="CHAR" property="seq" />
    <result column="Program_Id" jdbcType="INTEGER" property="programId" />
    <result column="Program_Name" jdbcType="NVARCHAR" property="programName" />
    <result column="Method" jdbcType="VARCHAR" property="method" />
    <result column="Url" jdbcType="NVARCHAR" property="url" />
    <result column="Absolute_Path" jdbcType="VARCHAR" property="absolutePath" />
    <result column="IP" jdbcType="VARCHAR" property="ip" />
    <result column="Time_Span" jdbcType="BIGINT" property="timeSpan" />
    <result column="Create_Time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="User_Id" jdbcType="VARCHAR" property="userId" />
    <result column="Url_Refeerer" jdbcType="NVARCHAR" property="urlRefeerer" />
    <result column="Server_Ip" jdbcType="VARCHAR" property="serverIp" />
    <result column="Browser_Version" jdbcType="VARCHAR" property="browserVersion" />
    <result column="Platform" jdbcType="NVARCHAR" property="platform" />
    <result column="Request_Content" jdbcType="NVARCHAR" property="requestContent" />
    <result column="Response_Content" jdbcType="NVARCHAR" property="responseContent" />
  </resultMap>
  <sql id="Base_Column_List">
    Seq, Program_Id, Program_Name, Method, Url, Absolute_Path, IP, Time_Span, Create_Time, 
    User_Id, Url_Refeerer, Server_Ip, Browser_Version, Platform, Request_Content, Response_Content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbCOM_Request_Log
    where Seq = #{seq,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbCOM_Request_Log
    where Seq = #{seq,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.rdp.template.domain.RequestLog">
    insert into tbCOM_Request_Log (Seq, Program_Id, Program_Name, 
      Method, Url, Absolute_Path, 
      IP, Time_Span, Create_Time, 
      User_Id, Url_Refeerer, Server_Ip, 
      Browser_Version, Platform, Request_Content, 
      Response_Content)
    values (#{seq,jdbcType=CHAR}, #{programId,jdbcType=INTEGER}, #{programName,jdbcType=NVARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{url,jdbcType=NVARCHAR}, #{absolutePath,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{timeSpan,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=VARCHAR}, #{urlRefeerer,jdbcType=NVARCHAR}, #{serverIp,jdbcType=VARCHAR}, 
      #{browserVersion,jdbcType=VARCHAR}, #{platform,jdbcType=NVARCHAR}, #{requestContent,jdbcType=NVARCHAR}, 
      #{responseContent,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rdp.template.domain.RequestLog">
    insert into tbCOM_Request_Log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seq != null">
        Seq,
      </if>
      <if test="programId != null">
        Program_Id,
      </if>
      <if test="programName != null">
        Program_Name,
      </if>
      <if test="method != null">
        Method,
      </if>
      <if test="url != null">
        Url,
      </if>
      <if test="absolutePath != null">
        Absolute_Path,
      </if>
      <if test="ip != null">
        IP,
      </if>
      <if test="timeSpan != null">
        Time_Span,
      </if>
      <if test="createTime != null">
        Create_Time,
      </if>
      <if test="userId != null">
        User_Id,
      </if>
      <if test="urlRefeerer != null">
        Url_Refeerer,
      </if>
      <if test="serverIp != null">
        Server_Ip,
      </if>
      <if test="browserVersion != null">
        Browser_Version,
      </if>
      <if test="platform != null">
        Platform,
      </if>
      <if test="requestContent != null">
        Request_Content,
      </if>
      <if test="responseContent != null">
        Response_Content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seq != null">
        #{seq,jdbcType=CHAR},
      </if>
      <if test="programId != null">
        #{programId,jdbcType=INTEGER},
      </if>
      <if test="programName != null">
        #{programName,jdbcType=NVARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=NVARCHAR},
      </if>
      <if test="absolutePath != null">
        #{absolutePath,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="timeSpan != null">
        #{timeSpan,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="urlRefeerer != null">
        #{urlRefeerer,jdbcType=NVARCHAR},
      </if>
      <if test="serverIp != null">
        #{serverIp,jdbcType=VARCHAR},
      </if>
      <if test="browserVersion != null">
        #{browserVersion,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=NVARCHAR},
      </if>
      <if test="requestContent != null">
        #{requestContent,jdbcType=NVARCHAR},
      </if>
      <if test="responseContent != null">
        #{responseContent,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.rdp.template.domain.RequestLog">
    update tbCOM_Request_Log
    <set>
      <if test="programId != null">
        Program_Id = #{programId,jdbcType=INTEGER},
      </if>
      <if test="programName != null">
        Program_Name = #{programName,jdbcType=NVARCHAR},
      </if>
      <if test="method != null">
        Method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        Url = #{url,jdbcType=NVARCHAR},
      </if>
      <if test="absolutePath != null">
        Absolute_Path = #{absolutePath,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="timeSpan != null">
        Time_Span = #{timeSpan,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        Create_Time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        User_Id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="urlRefeerer != null">
        Url_Refeerer = #{urlRefeerer,jdbcType=NVARCHAR},
      </if>
      <if test="serverIp != null">
        Server_Ip = #{serverIp,jdbcType=VARCHAR},
      </if>
      <if test="browserVersion != null">
        Browser_Version = #{browserVersion,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        Platform = #{platform,jdbcType=NVARCHAR},
      </if>
      <if test="requestContent != null">
        Request_Content = #{requestContent,jdbcType=NVARCHAR},
      </if>
      <if test="responseContent != null">
        Response_Content = #{responseContent,jdbcType=NVARCHAR},
      </if>
    </set>
    where Seq = #{seq,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rdp.template.domain.RequestLog">
    update tbCOM_Request_Log
    set Program_Id = #{programId,jdbcType=INTEGER},
      Program_Name = #{programName,jdbcType=NVARCHAR},
      Method = #{method,jdbcType=VARCHAR},
      Url = #{url,jdbcType=NVARCHAR},
      Absolute_Path = #{absolutePath,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      Time_Span = #{timeSpan,jdbcType=BIGINT},
      Create_Time = #{createTime,jdbcType=TIMESTAMP},
      User_Id = #{userId,jdbcType=VARCHAR},
      Url_Refeerer = #{urlRefeerer,jdbcType=NVARCHAR},
      Server_Ip = #{serverIp,jdbcType=VARCHAR},
      Browser_Version = #{browserVersion,jdbcType=VARCHAR},
      Platform = #{platform,jdbcType=NVARCHAR},
      Request_Content = #{requestContent,jdbcType=NVARCHAR},
      Response_Content = #{responseContent,jdbcType=NVARCHAR}
    where Seq = #{seq,jdbcType=CHAR}
  </update>

  <insert id="batchInsert">
    insert into tbCOM_Request_Log (Seq, Program_Id, Program_Name,
    Method, Url, Absolute_Path,
    IP, Time_Span, Create_Time,
    User_Id, Url_Refeerer, Server_Ip,
    Browser_Version, Platform, Request_Content,
    Response_Content)
    values
    <foreach  collection="list" item="item" separator=",">
    (#{item.seq,jdbcType=CHAR}, #{item.programId,jdbcType=INTEGER}, #{item.programName,jdbcType=NVARCHAR},
    #{item.method,jdbcType=VARCHAR}, #{item.url,jdbcType=NVARCHAR}, #{item.absolutePath,jdbcType=VARCHAR},
    #{item.ip,jdbcType=VARCHAR}, #{item.timeSpan,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP},
    #{item.userId,jdbcType=VARCHAR}, #{item.urlRefeerer,jdbcType=NVARCHAR}, #{item.serverIp,jdbcType=VARCHAR},
    #{item.browserVersion,jdbcType=VARCHAR}, #{item.platform,jdbcType=NVARCHAR}, #{item.requestContent,jdbcType=NVARCHAR},
    #{item.responseContent,jdbcType=NVARCHAR})
    </foreach>
  </insert>

</mapper>